body {
    background: #f5d9d5;
    font-family: "Nunito", sans-serif;
}

.blurb h2 {
   color: #EA1C2C;
   font-weight: 100;
   font-size: 2.5rem;
}

.blurb p {
    color: purple;
    font-weight: 100;
    font-size: 1.125rem;
    line-height: 2;
    font-weight: bold;
}

.content {
    margin-top: 100px;
    margin-bottom: 100px;
}

#mainNavbar {
    font-size: 1.5rem;
    font-weight: 100;    
}

#mainNavbar .nav-link {
    color: white;
}

#mainNavbar .nav-link:hover {
    color: #EA1C2C;
}

#mainNavbar .navbar-brand {
    color: #EA1C2C;
    font-size: 1.5rem;
}

#headingGroup span {
    color: #EA1C2C;
}

#headingGroup h1 {
    font-weight: 100;
    font-size: 4rem;
}

.navbar.scrolled {
    background: rgb(222,192,222);
    transition:  500ms;
}
/* Add hover effect on images */
/* CSS file: app.css */
img.d-none.d-lg-inline:hover {
    opacity: 0.8;
    transform: scale(1.1);
    transition: all 0.3s ease;
    filter:grayscale(100%) ;
}

.img-fluid {
    transition: transform 0.3s ease; 
}

.img-fluid:hover {
    transform: scale(1.1); 
}

.lead {
    background-color: #f0f0f0; 
    padding: 10px; 
    border-radius: 5px; 
}
.img-fluid {
    border: 2px solid #FFC300; 
    border-radius: 10px; 
    transition: border-color 0.3s ease; 
}
/* Change border color on hover */
.img-fluid:hover {
    border-color: #FF5733;
}


@media (max-width: 1200px) {
    #headingGroup h1 {
        font-weight: 100;
        font-size: 3rem;
    }
    .blurb h2 {
        font-size: 2rem;
    }
}




